/* RESET
=====================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* COMMON
=====================================*/

body {
    font: 14px/18px "Arial", sans-serif;
    color: #666666;
    background-color: #f6f6f6;
}

h1 {
    font-weight: 600;
    font-size: 18px;
}

h2 {
    font-weight: 600;
    font-size: 17px;
}

h3 {
    font-weight: 600;
    font-size: 13px;
}

ol, ul {

}

p {
    margin: 0 0 16px 0;
    font-size: 13px;
    line-height: 16px;
}

a,
a:link,
a:visited,
a:active {
    color: #005ac2;
}

a:hover {
    color: #549ef1;
}

input {
    font-family: "Tahoma", "Geneva", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

pre {
    font: 14px/18px "Arial", sans-serif;
}

/* CONTAINER
=====================================*/
.container {
    position: relative;
    width: 100%;
    max-width: 946px;
    min-width: 946px;
    padding: 0;
    margin: 0 auto;
}

/* HEADER
=====================================*/
.header {
    margin: 0 0 51px 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(75, 75, 75, 0), rgba(0, 0, 0, 0.73)), url(../img/sprites/header_footer__sprite.png);
    background-size: 8px;
}

    .header__pics {
        margin: 15px 2px 54px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.logo {
    margin: 0 10px 0 0;
    width: 209px;
    min-width: 209px;
    height: 201px;
    background: 38px 42px url(../img/header__logo.png) #060606 no-repeat;
    background-size: 130px;
    border: 1px solid #818181;
    border-radius: 18px;
    position: relative;
    box-shadow: 5px 8px 21px #000000;
}

        .logo__name {
            font-size: 24px;
            color: #e7eeef;
            text-transform: uppercase;
            position: absolute;
            bottom: 40px;
            left: 42px;
        }

    .header__preview {
        width: 725px;
        height: 201px;
        background: url(../img/header__header-preview.jpg) center no-repeat;
        background-size: cover;
        border: 1px solid #818181;
        border-radius: 18px;
        box-shadow: 5px 8px 21px #000000;
        position: relative;

    }

    .header__title {
        width: auto;
        min-width: 435px;
        height: auto;
        min-height: 48px;
        font-size: 24px;
        line-height: 18px;
        color: #e7eeef;
        font-style: italic;
        padding: 13px 0 13px 30px;
        position: absolute;
        top: 12px;
        right: 1px;
        background: rgba(36, 14, 0, 0.65);
        background-size: auto/auto;
        border-radius: 15px 0 0 15px;
        overflow: hidden;
    }

    .header__h-contacts {
        width: auto;
        min-width: 383px;
        height: auto;
        min-height: 43px;
        font-size: 14px;
        position: absolute;
        bottom: 7px;
        left: 3px;
        background: rgba(36, 14, 0, 0.65);
        border-radius: 0 12px 12px 0;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

.h-contacts {
    padding: 0 20px 0 20px;
}

    .h-contacts__email,
    .h-contacts__email:link,
    .h-contacts__email:visited,
    .h-contacts__email:active,
    .h-contacts__email:hover {
        margin: 0 0 0 7px;
        text-decoration: none;
        color: #e7eeef;
    }

    .h-contacts__phone,
    .h-contacts__phone:link,
    .h-contacts__phone:visited,
    .h-contacts__phone:active,
    .h-contacts__phone:hover {
        margin: 0 0 0 84px;
        font: 18px "Arial Narrow", sans-serif;
        text-decoration: none;
        color: #e7eeef;
    }

    .header__navigation-wrap {
        height: auto;
        min-height: 48px;
        width: 100%;
        background-image: linear-gradient(to top, rgba(15, 33, 41, 0.5), rgba(0, 0, 0, 0.75)), url(../img/sprites/navigation__sprite.png);
        background-size: 20px;
        box-shadow: 5px 0.5px 10px #000000;
    }

    .header__navigation {
        margin: 15px 32px 15px 23px;
    }

.navigation {
    position: relative;
}

    .navigation__inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #ffffff;
        font-size: 16px;
    }

    .navigation__item {
        width: auto;
        max-width: 140px;
        overflow: hidden;
    }

    .navigation__item-mob {
        display: none;
    }

    .navigation__link,
    .navigation__link:link,
    .navigation__link:visited,
    .navigation__link:active {
        position: relative;
        color: #ffffff;
    }

    .navigation__link:hover {
        color: #ffde00;
    }

.catalog {
    display: none;
}

/* CONTENT
=====================================*/
.content {
    position: relative;
    overflow: hidden;
}

    .content > .container {
        max-width: 1000px;
        min-width: 1000px;
        padding: 0 27px;
        overflow: hidden;
    }

    .content__main {
        float: left;
        position: relative;
        padding: 0 2px 0 0;
        width: 100%;
    }

.side-bar {
    float: left;
    position: relative;
    width: auto;
    margin: 0 0 0 -966px;
    padding: 0 0 70px 0;
}

.category-list {
    margin: 0 0 41px;
    width: auto;
    max-width: 300px;
    padding: 0 0 10px 20px;
    overflow: hidden;
}

    .category-list__headline {
        margin: 0 0 20px 0;
        font-size: 17px;
        font-weight: 600;
        color: #c24000;
    }

    .category-list__item {
        font-size: 13px;
        margin: 0 0 11px 2px;
    }

        .category-list__item:last-child {
            margin: 0 0 0 2px;
        }

.news {
    margin: 0;
    width: 185px;
    max-width: 180px;
    font-size: 11px;
    line-height: 16px;
    overflow: hidden;
}

    .news__headline {
        margin: 0 0 21px 0;
        color: #058b7a;
    }

    .news__item {
        display: flex;
        flex-direction: column;
        margin: 0 0 25px 2px;
        position: relative;
    }

        .news__item:last-child {
            margin: 0 0 19px 0;
        }

        .news__item::after {
            content: "";
            height: 2px;
            width: 138px;
            background-color: #dddddd;
            position: absolute;
            bottom: -15px;
            left: 0px;
        }

        .news__item:last-child::after {
            content: none;
        }

    .news__date {
        font-size: 10px;
    }

    .news__archive {
        position: relative;
        left: 1px;
        font-size: 13px;
    }

    .news__item .news__link {
        margin: 0 0 5px 0;
    }

    .news {
        padding: 0 0 0 20px;
        max-width: 200px;
    }

.red-star {
    font-size: 13px;
    color: #ff0000;
    font-weight: 600;
}

.feedback__label_required::after, .registration__label_required::after {
    content: "*";
    font-weight: 600;
    font-size: 13px;
    position: absolute;
    right: -9px;
    color: #ff0000;
}

/* FOOTER
=====================================*/

.footer {
    clear: both;
    padding: 15px 0 0 0;
    height: 170px;
    background-image: linear-gradient(to top, rgba(75, 75, 75, 0), rgba(0, 0, 0, 0.73)), url(../img/sprites/header_footer__sprite.png);
    background-size: 8px;
}

    .footer__inner {
        margin: 0 2px 0 0;
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    .footer__company {
        width: auto;
        max-width: 120px;
        position: relative;
        display: flex;
        flex-direction: column;
        color: #a4a4a4;
    }

.copyright {

}

    .copyright__item {
        display: inline-block;
        margin: 0 0 0 1px;
        font-size: 11px;
    }

        .copyright__item:last-child {
            display: inline-block;
            margin: 3px 0 0 1px;
            font: 12px "Tahoma", "Geneva", sans-serif;
        }

.text-bold {
    font-weight: 600;
}

.text-italic {
    font-style: italic;
}

    .footer__logo {
        position: absolute;
        border: none;
        background: url(../img/footer__logo.svg) no-repeat;
        box-shadow: none;
        width: 45px;
        height: 29px;
        background-size: contain;
        top: 55px;
        left: 9px;
    }

    .footer__logo-name {
        color: #a4a4a4;
        font-size: 10px;
        line-height: 6px;
        top: 38px;
        left: -10px;
    }

    .footer__navigation-footer {
        margin: 1px 9px 0 0;
    }

.navigation-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 11px;
    padding: 0 20px;
    height: auto;
    max-width: 550px;
}

    .navigation-footer__item {
        position: relative;
        margin: 0 20px 0 0;
    }

        .navigation-footer__item::after {
            content: "";
            height: 10px;
            width: 1px;
            background-color: #ffffff;
            position: absolute;
            right: -10px;
            top: 5px;
        }

        .navigation-footer__item:last-child::after {
            content: none;
        }

    .footer__link,
    .footer__link:link,
    .footer__link:visited,
    .footer__link:active {
        position: relative;
        color: #ffffff;
    }

    .footer__info {
        position: relative;
        width: auto;
        max-width: 165px;
    }

    .footer__by {
        position: relative;
        font-size: 11px;
        color: #ffffff;
    }

    .footer__statistic {
        position: absolute;
        top: 67px;
        right: 1px;
    }

/* BURGER */
.burger {
    display: none;
    height: 45px
}

    .burger__item {
        display: block;
        height: 5px;
        width: 27px;
        background-color: #ffffff;
        border-radius: 9px;
        font-size: 15px;
        color: #ffffff;
        position: relative;
        top: 11px;
        left: -25px;
    }

        .burger__item::before,
        .burger__item::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            position: absolute;
            left: 0;
            z-index: 1;
            border-radius: 9px;
        }

        .burger__item::before {
            top: -10px;
        }

        .burger__item::after {
            bottom: -10px;
        }

    .burger__title {
        color: #ffffff;
        position: static;
        margin: 0 0 0 21px;
        font-size: 15px;
    }

    .burger__link {
        text-decoration: none;
    }

/* PRODUCT
=====================================*/

.content__inner {
    padding: 0 0 0 220px;
    float: left;
    width: 100%;
}


.path {
    font-size: 11px;
    color: #9d9d9d;
    padding: 1px 0 11px 0;
}

    .path__past {

        margin: 0 14px 0 0;
        position: relative;
    }

    .path__present {
        position: relative;
    }

        .path__past::after {
            content: "\2192";
            position: absolute;
        }

    .path__past > a {
        color: #9d9d9d;
    }

    .path__inner > li {
        display: inline;
    }

    .path__present span {
        margin: 0 0 0 6px;
    }

.product {
    padding: 15px 0 0 0;
    margin: 0 0 0 -2px;
}

    .product__item {
        display: flex;
        flex-direction: row;
        margin: 0 0 29px 0;
    }

    .product__image {
        min-width: 451px;
        max-width: 451px;
        min-height: 318px;
        max-height: 318px;
        object-fit: cover;
        outline: 5px solid #797979;
        outline-offset: -5px;
    }

    .product-info {
        padding: 5px 0 0 23px;
        color: #000000;
    }

    .product__title {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 29px 0;
        line-height: 22px;
    }

    .product__price {
        font-size: 18px;
    }

    .product__price > .text-bold {
        font-size: 24px;
    }

    .product__description {
        font-size: 12px;
        line-height: 16px;
        text-align: justify;
        color: #666666;
    }

    .category-list__link_active,
    .category-list__link_active:link,
    .category-list__link_active:visited,
    .category-list__link_active:active,
    .category-list__link_active:hover{
        font-weight: 600;
        color: #000000;
        background: #e3e3e3;
        padding: 7px 15px 8px;
        margin: 0 0 0 -15px;
        text-decoration: none;
        border-radius: 10px;
    }

/* MAIN
=====================================*/

.category {

}

    .category__inner {
        float: left;
        padding: 3px 0 0 0;
        font-size: 15px;
        margin: 0 0 13px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .category__item-wrap {
        width: 220px;
        height: auto;
    }

    .category__item {
        margin: 0 0 53px 0;
    }

    .category__image {
        background-size: cover;
        margin: 0 0 5px 0;
        outline: 5px solid #797979;
        outline-offset: -5px;
    }

    .category__image:hover {
        outline: 5px solid #00b31d;
        outline-offset: -5px ;
    }

    .category__link:hover .category__image {
        outline: 5px solid #00b31d;
        outline-offset: -5px ;
    }

    .category__title {
        overflow: hidden;
    }

    .content__description {
        overflow: hidden;
        margin: 12px 0 80px -2px;
    }

    .content__title {
        margin: 0 0 15px 0;
    }

    .content__text {
        text-align: justify;
    }

/* CATALOG
=====================================*/

.goods {
    padding: 0 4px 0 0;
}

    .goods__price-sort {
        margin: 0 0 30px 0;
    }

.price-sort {

}

    .price-sort > form > span {
        font-size: 13px;
        color: #4c4c4c;
    }

    .price-sort > form > span:last-of-type {
        margin: 0 -1px 0 -1px;
    }

    .price-sort > form {
        display: flex;
        align-items: center;
    }

    .price-sort__field {
        border-radius: 8px;
        border: 1px solid #c6bfac;
        width: 90px;
        height: 29px;
        padding: 0 0 1px 9px;
        font-size: 13px;
        margin: 0 10px;
    }

    .price-sort__apply {
        border: none;
        background: none;
        color: #00b31d;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
        margin: 0 0 2px 0px;
    }

    .goods__list {
        font-size: 15px;
        margin: 0 0 4px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .goods__item-wrap {
        width: 220px;
        height: auto;
    }

    .goods__item {
        margin: 0 0 73px 0;
    }

    .goods__image {
        width: 220px;
        height: 155px;
        background-size: cover;
        margin: 0 0 10px 0;
        outline: 5px solid #797979;
        outline-offset: -5px;
        display: block;
    }

    .goods__image_default {
        outline: none;
        border: 5px solid #797979;
    }

    .goods__image:hover {
        outline: 5px solid #00b31d;
        outline-offset: -5px ;
    }

    .goods__link:hover .goods__image {
        outline: 5px solid #00b31d;
        outline-offset: -5px ;
    }

    .goods__title {
        overflow: hidden;
        margin: 0 0 0 -1px;
        display: inline;
        position: relative;
    }

    .goods__price {
        color: #000000;
        font-size: 18px;
        margin: 10px 0 11px -1px;
        display: block;
    }

    .goods__price > .text-bold {
        font-size: 24px;
    }

.pages {
    font-size: 13px;
    padding: 0 1px 0 0;
    margin: 0 0 64px 0;
    display: flex;
    justify-content: center;
}

    .pages__item {
        margin: 0 24px 0 0;
    }

        .pages__item:last-child {
            margin: 0;
        }

    .pages__item > a {
        color: #000000;
    }

.pages__next {
    color: #000000;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .pages__item_current > a {
        font-size: 14px;
        margin: 7px -9px 0 -7px;
        padding: 4px 8px 4px 8px;
        border-radius: 2px;
        background: #797979;
        color: #ffffff;
        text-decoration: none;
    }

/* CONTACTS
=====================================*/

.content__contacts {
        margin: 1px 0 78px -2px;
    }

.contacts {
    color: #000000;

}

    .contacts__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contacts__col {
        padding: 0 0 0 2px;
        width: auto;
    }

    .contacts__col:last-child {
        width: 41%;
        padding: 4px 0 0 6px;

    }

    .contacts h2 {
        font-size: 17px;
        font-weight: 600;
        margin: 0 0 -9px 0;
    }

    .contacts__inner h3 {
        margin: 36px 0 18px 0;
    }

    .contacts__col  p {
        line-height: 18px;
        margin: 0 0 18px 0;
        font-size: 13px;
    }

    .contacts__link,
    .contacts__link:link,
    .contacts__link:visited,
    .contacts__link:active,
    .contacts__link:hover{
        color: #000000;
        text-decoration: none;
    }

    .contacts__partners {
        margin: 36px 0 0 0;
    }

.feedback {
    font-size: 13px;
    margin: 0 0 64px 0;
}

    .feedback__form {
        margin: 20px 0 0 0;
    }

    .feedback > form{
        font-size: 12px;
        color: #424242;
    }

    .feedback__title {
        font-size: 17px;
        font-weight: 600;
        color: #000000;
        margin: 0 0 2px 0;
    }

    .feedback > .red-star {
        margin: 0 0 0 2px;
    }

    .feedback__server-errors {
        width: 433px;
        background: #fff1f1;
        color: #ff0000;
        padding: 5px 0 8px 13px;
        border: 1px solid #ffdcdc;
        margin: 15px 0 0 2px;
        line-height: 21px;
    }

    .feedback__server-succsess {
        width: 433px;
        background: #d3ffda;
        color: #007d14;
        padding: 5px 0 8px 13px;
        border: 1px solid #68ff80;
        margin: 15px 0 0 2px;
        line-height: 21px;
    }

    .feedback__field {
        border-radius: 8px;
        border: 1px solid #c9c3b1;
        width: 280px;
        height: 29px;
        padding: 0 0 1px 9px;
        font-size: 13px;
        margin: 0 0 0 10px;
    }

    .feedback__name {
        padding: 0 0 0 85px;
        position: relative;
    }

    .feedback__name .feedback__label {
        margin: 0 9px 2px 0;
        position: relative;
    }

    .feedback__email {
        padding: 0 0 0 2px;
        position: relative;
    }

    .feedback__email .feedback__label {
        margin: 0 9px 0 0;
        position: relative;
    }

    .feedback__email .feedback__field {
        margin: 0 0 0 9px;
    }

    .feedback__phone {
        padding: 0 0 0 58px;
    }

    .feedback__phone .feedback__label {
        margin: 0 9px 3px 0;
        position: relative;
    }

    .feedback__details {
        position: relative;
        padding: 0 0 0 127px;
        margin: 0 0 6px 0;
    }

    .feedback__name,
    .feedback__email,
    .feedback__phone {
        margin: 0 0 37px 0;
        display: flex;
        align-items: center;
    }

    .feedback__textarea {
        border-radius: 8px;
        border: 1px solid #c6bfac;
        padding: 6px 0 1px 9px;
        font-size: 13px;
        margin: 10px 10px 0 0;
        resize: none;
        width: 439px;
        height: 141px;
    }

    .feedback__details .error {
        display: none;
    }

    .feedback__details .feedback__label {
        font-size: 13px;
        font-weight: 600;
        position: absolute;
        top: -13px;
        left: 128px;
    }

    .feedback__actions {
        padding: 0 0 0 122px;
    }

    .feedback__submit {
        font-size: 13px;
        border: none;
        background: none;
        color: #00b31d;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
        margin: 0 20px 0 0;
    }

    .feedback__reset {
        font-size: 13px;
        border: none;
        background: none;
        color: #ff0000;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
        margin: 0 0 0 0px;
    }

.error {
    color: #ff0000;
    position: absolute;
    bottom: -22px;
    left: 134px;
}

/* DELIVERY
=====================================*/

.content__main {
    color: #000000;
    font-size: 13px;
}
    .content__main > h2 {
        font-size: 17px;
        margin: 0 0 26px -3px;
    }

    .content__main > h3 {
        margin: 0 0 17px 0;
    }

    .content__main > ol {
        list-style: decimal inside;
        margin: 0 0 18px 0;
    }

    .content__main > ul {
        list-style: disc;
        margin: 0 0 18px 0;
    }

    .content__main > ul > li {
        list-style: disc;
        margin: 0 0 0 17px;
    }

    .content__main > p {
        font-size: 13px;
        margin: 0 0 18px 0;
        line-height: 18px;
    }

.form-ch {
    display: flex;
    flex-direction: column;
}

.border-error {
    border: 1px solid #ff0000;
}

/* NEWS
=====================================*/

.news {

}

    .content__main > .news {
        padding: 0;
        width: auto;
        max-width: none;
    }

    .content__main > .news > h2 {
        margin: 0 0 26px 0;
    }

    .news__inner .news__item {
        margin: 0 0 36px 2px;
    }

    .news__inner .news__title {
        font-size: 14px;
        font-weight: 600;
    }

    .news__inner .news__announ {
        font-size: 13px;
        color: #666666;
        margin: 0 0 10px 0;
        text-align: justify;
    }

    .news__inner .news__date {
        font-size: 13px;
        color: #666666;
        text-align: right;
    }

        .news__inner .news__item:last-child {
            margin: 0 0 50px 0;
        }

        .news__inner .news__item::after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: #dddddd;
            position: absolute;
            bottom: -15px;
            left: 0px;
        }

        .news__item:last-child::after {
            content: none;
        }

/* ARTICLE
=====================================*/

.article {
    text-align: justify;
}

    .article__date {
        color: #666666;
        font-size: 13px;
    }

    .article__title {
        margin: 5px 0 20px 0;
    }

.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20%;
}

    .error-404 > h1 {
        font-size: 35px;
        margin: 0 0 30px 0;
    }

    .error-404 > a {
        font-size: 18px;
    }

/* MEDIA
=====================================*/

@media (max-width: 480px) {

    .content__inner {
        padding: 0;
    }

    .content__main {
        float: none;
    }

    .content > .container {
        max-width: 432px;
        min-width: 432px;
        padding: 0;
        overflow: hidden;
    }

    .content > .container > .side-bar {
        display: none;
    }

    body {
        min-width: 480px;
    }

    .container {
        max-width: 427px;
        min-width: 427px;
    }

    .header__pics {
        margin: 15px 2px 74px 0;
        background: #060606;
        border: 1px solid #818181;
        border-radius: 18px;
        display: flex;
        height: 201px;
    }

    .logo {
        display: block;
        border: none;
        height: 199px;
        margin: 0px;
        box-shadow: none;
        background-position: 25px 40px;
        background-size: 131px;
    }

    .logo__name {
        bottom: 41px;
        left: 30px;
    }

    .header__preview {
        background: none;
        border: none;
        width: 220px;
        box-shadow: none;
        position: relative;
    }

    .header__title {
        width: 220px;
        min-width: auto;
        font-size: 24px;
        background: none;
        padding: 13px 0;
        position: absolute;
        top: 93px;
        left: -5px;
        line-height: 29px;
    }

    .header__h-contacts {
        width: 220px;
        min-width: auto;
        background: none;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        bottom: 115px;
        left: -5px;
        line-height: 30px;
    }

    .h-contacts__email,
    .h-contacts__email:link,
    .h-contacts__email:visited,
    .h-contacts__email:active,
    .h-contacts__email:hover {
        margin: 0px;
        text-decoration: underline;
        color: #ffffff;
    }

    .h-contacts__phone,
    .h-contacts__phone:link,
    .h-contacts__phone:visited,
    .h-contacts__phone:active,
    .h-contacts__phone:hover {
        margin: 0px;
        padding: 0px;
        color: #ffffff;
    }

    .header__navigation-wrap {
        min-height: 60px;
        height: auto;
        background-image: none;
        background-color: #7c8384;
        box-shadow: none;
    }

    .header__navigation {
        margin: 17px 0 0 25px;
    }

    .navigation__inner {
        display: none;
        margin: 3px 0 31px 21px;
    }

    .navigation__show {
        display: block;
    }

    .navigation__item {
        margin: 0 0 14px 0;
        font-size: 15px;
        max-width: none;
        overflow: visible;
    }

    .sub-navigation__move {
        margin: 22px 0 17px 0;
    }

    .sub-navigation__bg,
    .sub-navigation__bg:link,
    .sub-navigation__bg:visited,
    .sub-navigation__bg:active {
        margin: 0 0 0 -20px;
        background-color: #ffffff;
        border-radius: 11px 11px 0 0;
        padding: 8px 16px 12px 20px;
        position: relative;
        color: #005bc1;
    }

    .sub-navigation__bg:hover {
        color: #549ef1;
    }

    .catalog {
        margin: 0 2px 0 -20px;
        background-color: #ffffff;
        padding: 23px 0 5px 22px;
        border-radius: 0 10px 10px 10px;
    }

    .sub-navigation__inner {
        display: none;
    }

    .sub-navigation__show {
        display: block;
    }

    .catalog__item {
        display: inline-block;
        font-size: 15px;
        font-style: italic;
        margin: 0 20px 14px 0px;
    }

    .catalog__link,
    .catalog__link:link,
    .catalog__link:visited,
    .catalog__link:active {
        display: inline-block;
        position: relative;
        color: #005bc1;
    }

    .catalog__link:hover {
        color: #549ef1;
    }

    .navigation__item {
        display: block;
    }

    .navigation__link:hover {
        color: #ffe558;
    }

    .header {
        margin: 0 0 40px 0;
    }

    .side-bar {
        margin: 0;
        padding: 0;
        position: static;
        float: none;
    }

    .news {
        padding: 0;
    }

    .footer {
        padding: 36px 0 0 0;
    }

    .footer__inner {
        margin: 0px 1px;
    }

    .footer__logo-name {
        top: 38px;
        left: -10px;
        font-size: 10px;
    }

    .navigation-footer {
        display: none;
    }

    .footer__info {
        position: relative;
    }

    .footer__by {
        position: relative;
        font-size: 11px;
        color: #ffffff;
    }

    .footer__statistic {
        position: absolute;
        top: 61px;
    }

    .burger {
        display: block;
    }

    .navigation__item-mob {
        display: block;
    }

    .navigation__item-pc {
        display: none;
    }

    .header {
        margin: 0 0 12px 0;
    }

    .header__navigation {
        margin: 17px 0 0 25px;
    }

    .burger {
        height: 43px;
    }

    /* PRODUCT
=====================================*/

    .path {
        padding: 0;
    }

    .content__path {
        margin: 1px 0 12px 2px;
    }

    .product {
        padding: 28px 0 0 2px;
    }

    .product__image {
        margin: 0 0 0 2px;
        min-width: 426px;
        max-width: 426px;
        min-height: 300px;
        max-height: 300px;
    }

    .product__item {
        position: relative;
        flex-direction: column;
        margin: 0 0 93px 0;
    }

    .product__title {
        position: absolute;
        top: -31px;
        margin: 0;
        left: 1px;
    }

    .product-info {
        padding: 26px 0 0 1px;
    }

    .product__description {
        margin: 0 0 49px 2px;
        text-align: left;
        font-size: 15px;
    }

    .product__description > p {
        font-size: 15px;
        line-height: 20px;
        margin: 0 0 10px 0;
    }

    /* MAIN
=====================================*/

    .content__main > .category {
        padding: 0 2px 0 4px;
    }

    .content__main > .side-bar {
        padding: 0 0 0 3px;
    }

    .content__description {

    }

    .content__text p {
        margin: 0 0 10px;
    }

    .category__inner {
        padding: 0px;
        margin: 30px 0 9px 0;
        float: none;
    }

    .category__item-wrap {
        width: 205px;
    }

    .category__item {
        margin: 0 0 48px 0;
    }

    .category__image {
        width: 205px;
        height: 145px;
    }

    .content__description {
        padding: 0px;
        overflow: visible;
        margin: 51px 0 -1px 2px;
    }

    .content__title {
        font-weight: 600;
        font-size: 21px;
        margin: 0 0 13px 0;
    }

    .content__text {
        text-align: justify;
        margin: 0 0 57px 0
    }

    .content__text > p {
        font-size: 15px;
        line-height: 20px;
    }

    .category-list {
        display: none;
    }

    .news {
        overflow: visible;
        width: auto;
        max-width: none;
    }

    .news__headline {
        margin: 0 0 21px 0;
        font-size: 21px;
    }

    .news__item {
        margin: 0 0 31px 0;
        font-size: 15px;
        line-height: 17px;
    }

    .news__item:last-child {
        margin: 0 0 18px 0;
    }

    .news__item::after {
        width: 424px;
        bottom: -19px;
        left: 0px;
    }

    .news__item .news__link {
        margin: 0 0 9px 0;
    }

    .news__title {
        line-height: 18px;
    }

    .news__date {
        font-size: 13px;
    }

    .news__archive {
        font-size: 15px;
    }

    /* CATALOG
=====================================*/

    .price-sort {
        padding: 0;
    }

    .goods__price-sort {
        margin: 11px 0 39px 2px;
    }

    .price-sort__field {
        width: 80px;
        margin: 0 9px;
        padding: 0 0 1px 10px;
    }

    .price-sort__field:last-of-type {
        margin: 0 9px 0 10px;
    }

    .price-sort__apply span {
        display: none;
    }

    .price-sort__apply {
        display: block;
        border-radius: 8px;
        border: 1px solid #00b31d;
        width: 30px;
        height: 29px;
        background: #ffffff;
        position: relative;
        margin: 0 0 0 0;
    }

    .price-sort__apply::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 14px;
        background: #00b31d;
        left: 7px;
        top: 13px;
    }

    .price-sort__apply::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 2px;
        background: #00b31d;
        left: 7px;
        top: 10px;
    }

    .price-sort__apply-wrap {
        position: relative;
    }

    .price-sort__apply-wrap::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 5px;
        background: #00b31d;
        left: 17px;
        top: 12px;
        transform: rotate(45deg);
    }

    .price-sort__apply-wrap::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 5px;
        background: #00b31d;
        left: 17px;
        top: 16px;
        transform: rotate(-45deg);
        z-index: 5;
    }

    .goods__list {
        padding: 0 1px 0 0;
        margin: 0 0 1px 0;
    }

    .goods__item-wrap {
        width: 205px;
    }

    .goods__image {
        width: 205px;
        height: 145px;
        margin: 0 0 7px 0;
    }

    .goods__title {
        margin: 0 0 0 1px;
    }

    .goods__price {
        margin: 34px 0 11px 1px;
    }

    .pages {
        padding: 0 1px 0 0;
        margin: 0 0 72px 0;
    }

    .pages__item:last-child {
        margin: 0 0 0 -3px;
    }

    .footer {
        clear: none;
    }

    /* CONTACTS
=====================================*/

    .contacts {
        padding: 0;
    }

    .contacts__inner {
        flex-direction: column;
    }

    .contacts__inner p, .contacts h3 {
        font-size: 15px;
    }

    .contacts h3 {
        margin: 0 0 20px 0;
    }

    .contacts h2 {
        margin: 0 0 35px 0;
    }

    .contacts h2, .feedback__title {
        font-size: 18px;
    }

    .contacts__col:last-child {
        width: auto;
        padding: 0;
        margin: 30px 0 0 0;
    }

    .content__contacts {
        margin: 20px 0 50px 0;
    }

    .feedback {
        padding: 0;

    }

    .feedback__form {
        margin: 20px 0 0 0;
    }

    .feedback__title {
        margin: 0 0 10px 0;
    }

    .feedback__server-errors {
        width: auto;
        margin: 15px 0 0 0;
    }

    .feedback__server-succsess {
        width: auto;
        margin: 15px 0 0 0;
    }

    .feedback__name, .feedback__email, .feedback__phone {
        align-items: baseline;
        flex-direction: column;
        padding: 0;
        margin: 0 0 34px 0;
    }

    .feedback > form {
        font-size: 13px;
    }

    .feedback__field {
        margin: 0;
    }

    .feedback__email .feedback__field {
        margin: 0;
    }

    .feedback__label, .feedback__name .feedback__label, .feedback__phone .feedback__label,  .feedback__email .feedback__label {
        margin: 0 0 10px 8px;
    }

    .feedback__details {
        padding: 0;
    }

    .feedback__details .feedback__label {
        position: static;
        margin: 0 0 10px 8px;
    }

    .feedback__textarea {
        width: 424px;
    }

    .feedback__actions {
        padding: 0 0 0 8px;
    }

    .error {
        font-size: 12px;
        bottom: -22px;
        left: 6px;
    }

    /* DELIVERY
=====================================*/
    .content__main {
        padding: 0;
        margin: 10px 0 0 0;
    }

    .content__main > h2 {
        font-size: 18px;
        margin: 0 0 26px 0;
    }

    .content__main > h3  {
        font-size: 15px;
    }

    .content__main >  p, .content__main > ol, .content__main > ul {
        font-size: 15px;
    }

    /* NEWS
=====================================*/

    .content__main > .news > h2 {
        font-size: 18px;
        margin: 0 0 26px 0;
    }

    .news__inner .news__item {
        margin: 0 0 31px 2px;
    }

    .news__inner .news__title {
        font-size: 15px;
        font-weight: 400;
        text-align: left;
    }

    .news__inner .news__announ {
        display: none;
    }

    .news__inner .news__date {
        font-size: 13px;
        text-align: left;
    }

    /* ARTICLE
=====================================*/

.article {
    text-align: justify;
    margin: 0 0 40px 0;
}

    .article p {
        font-size: 15px;
    }

    .article__date {
        color: #666666;
        font-size: 13px;
    }

    .article__title {
        margin: 8px 0 20px 0;
        font-size: 18px;
    }

    .article__description {
        font-size: 15px;
    }

}
