/* CONTENT
=====================================*/

.content {
    overflow: hidden;
}

    .content > .container {
        overflow: hidden;
    }

    .content__main {
        float: left;
    }

    .content__path {
        margin: 1px 0 0 0;
    }

.path {
    font-size: 11px;
    color: #9d9d9d;
    padding: 0 0 0 218px;
}

    .path__past {
        margin: 0 14px 0 0;
        position: relative;
    }

    .path__present {
        position: relative;
    }

        .path__past::after {
            content: "\2192";
            position: absolute;
        }

        .path__present::after {
            content: "\2192";
            position: absolute;
            right: -17px;
        }

    .path__past > a {
        color: #9d9d9d;
    }

    .path > li {
        display: inline;
    }

    .path__present span {
        margin: 0 0 0 6px;
    }

.goods {

}

    .goods__price-sort {
        margin: 11px 0 30px 0;
    }

.price-sort {
    padding: 0 0 0 219px;
}

    .price-sort > form > span {
        font-size: 13px;
        color: #4c4c4c;
    }

    .price-sort > form > span:last-of-type {
        margin: 0 -1px 0 -1px;
    }

    .price-sort > form {
        display: flex;
        align-items: center;
    }

    .price-sort__field {
        border-radius: 8px;
        border: 1px solid #c6bfac;
        width: 90px;
        height: 29px;
        padding: 0 0 1px 9px;
        font-size: 13px;
        margin: 0 10px;
    }

    .price-sort__apply {
        border: none;
        background: none;
        color: #00b31d;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
        margin: 0 0 2px 0px;
    }

    .goods__list {
        padding: 0 0 0 218px;
        font-size: 15px;
        margin: 0 0 4px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .goods__item-wrap {
        width: 220px;
        height: auto;
    }

    .goods__item {
        margin: 0 0 44px 0;
        display: flex;
        flex-direction: column;
    }

    .goods__image {
        width: 220px;
        height: 155px;
        background-size: cover;
        margin: 0 0 6px 0;
        outline: 5px solid #797979;
        outline-offset: -5px;
    }

    .goods__image_default {
        outline: none;
        border: 5px solid #797979;
    }

    .goods__image:hover {
        outline: 5px solid #00b31d;
        outline-offset: -5px ;
    }

    .goods__link:hover .goods__image {
        outline: 5px solid #00b31d;
        outline-offset: -5px ;
    }

    .goods__title {
        overflow: hidden;
        margin: 0 0 0 -1px;
    }

    .goods__price {
        color: #000000;
        font-size: 18px;
        margin: 9px 0 11px -1px;
    }

    .goods__price > .text-bold {
        font-size: 24px;
    }

    .goods__add-to-cart {
        position: relative;
        margin: 0 0 0 26px;
        font-size: 13px;
    }

        .goods__add-to-cart::before {
            background: url(../img/icons/cart__icon-cart_grey.png) no-repeat;
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            left: -26px;
            bottom: 2px;
        }

.pages {
    font-size: 13px;
    padding: 0 0 0 401px;
    margin: 0 0 64px 0;
    display: flex;
}

    .pages__item {
        margin: 0 24px 0 0;
    }

    .pages__item > a {
        color: #000000;
    }

    .pages__item_current > a {
        font-size: 14px;
        margin: 7px -9px 0 -7px;
        padding: 4px 8px 4px 8px;
        border-radius: 2px;
        background: #797979;
        color: #ffffff;
        text-decoration: none;
    }

/* OTHER NEEDS
=====================================*/

.side-bar {
    margin: 0 0 0 -945px;
}

.category-list {
    margin: 0 0 51px;
}

.category-list__item {
    margin: 0 0 11px 1px;
}

.news__item {
    margin: 0 0 25px 1px;
}

.navigation__link-catalog,
.navigation__link-catalog:link,
.navigation__link-catalog:visited,
.navigation__link-catalog:active {
    color: #ffe558;
}

/* MEDIA
=====================================*/

@media (max-width: 480px) {

    .header {
        margin: 0 0 22px 0;
    }

    .header__navigation {
        margin: 17px 0 0 25px;
    }

    .burger {
        height: 43px;
    }

    .side-bar {
        display: none;
    }

    .content__main {
        float: none;
    }

    .path {
        padding: 0;
    }

    .price-sort {
        padding: 0;
    }

    .goods__price-sort {
        margin: 11px 0 39px 0;
    }

    .price-sort__field {
        width: 80px;
        margin: 0 9px;
        padding: 0 0 1px 10px;
    }

    .price-sort__field:last-of-type {
        margin: 0 9px 0 10px;
    }

    .price-sort__apply span {
        display: none;
    }

    .price-sort__apply {
        display: block;
        border-radius: 8px;
        border: 1px solid #00b31d;
        width: 30px;
        height: 29px;
        background: #ffffff;
        position: relative;
        margin: 0 0 0 0;
    }

    .price-sort__apply::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 14px;
        background: #00b31d;
        left: 7px;
        top: 13px;
    }

    .price-sort__apply::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 2px;
        background: #00b31d;
        left: 7px;
        top: 10px;
    }

    .price-sort__apply-wrap {
        position: relative;
    }

    .price-sort__apply-wrap::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 5px;
        background: #00b31d;
        left: 17px;
        top: 12px;
        transform: rotate(45deg);
    }

    .price-sort__apply-wrap::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 5px;
        background: #00b31d;
        left: 17px;
        top: 16px;
        transform: rotate(-45deg);
        z-index: 5;
    }

    .goods__list {
        padding: 0 1px 0 0;
        margin: 0 0 1px 0;
    }

    .goods__item-wrap {
        width: 205px;
    }

    .goods__image {
        width: 205px;
        height: 145px;
        margin: 0 0 3px 0;
    }

    .goods__title {
        margin: 0 0 0 1px;
    }

    .goods__price {
        margin: 9px 0 11px 1px;
    }

    .pages {
        padding: 0 0 0 57px;
        margin: 0 0 72px 0;
    }

    .pages__item:nth-child(7) {
        display: none;
    }

    .pages__item:last-child {
        margin: 0 0 0 -3px;
    }

    .footer {
        clear: none;
    }

    .footer .container {
        max-width: 437px;
        min-width: 437px;
        padding: 0 7px 0 3px;
    }
}
