/* CONTENT
=====================================*/

.content {
    overflow: hidden;
}

    .content > .container {
        overflow: hidden;
    }

    .content__main {
        float: left;
    }

    .content__delivery {
        margin: 2px 0 0 0;
    }

.delivery {
    padding: 0 0 0 218px;
    color: #000000;
    font-size: 13px;
}

    .delivery__inner {
        padding: 0 0 0 2px;
    }

    .delivery__title {
        font-size: 17px;
        font-weight: 600;
        margin: 0 0 26px 0;
    }

    .delivery__subtitle {
        font-weight: 600;
        margin: 0 0 17px 0;
    }

    .delivery__inner > ol {
        list-style: decimal inside;
        margin: 0 0 18px 0;
    }

    .delivery__inner > p {
        font-size: 13px;
        margin: 0 0 18px 0;
        line-height: 18px;
    }

/* OTHER NEEDS
=====================================*/

.side-bar {
    margin: 0 0 0 -946px;
}

.category-list {
    margin: 0 0 51px;
}

.navigation__link-delivery,
.navigation__link-delivery:link,
.navigation__link-delivery:visited,
.navigation__link-delivery:active {
    color: #ffe558;
}

/* MEDIA
=====================================*/

@media (max-width: 480px) {
    .header {
        margin: 0 0 22px 0;
    }

    .header__navigation {
        margin: 17px 0 0 25px;
    }

    .burger {
        height: 43px;
    }

    .side-bar {
        display: none;
    }

    .content__main {
        float: none;
    }

    .delivery {
        padding: 0;
    }

    .delivery__title {
        font-size: 18px;
    }

    .delivery__subtitle,  {
        font-size: 15px;
    }

    .delivery__inner > p {
        font-size: 15px;
    }

    .delivery__subtitle, .delivery__inner > ol {
        font-size: 15px;
    }

    .content__delivery {
        margin: 10px 0 50px 0;
    }

    .footer .container {
        max-width: 437px;
        min-width: 437px;
        padding: 0 7px 0 3px;
    }
}
