/* CONTENT
=====================================*/

.content {
    overflow: hidden;
}

    .content > .container {
        overflow: hidden;
    }

    .content__main {
        float: left;
    }

    .content__registration {
        margin: 0 0 64px 0;
    }

.registration {
    padding: 0 0 0 220px;
    font-size: 13px;
}

    .registration > form{
        font-size: 12px;
        color: #424242;
    }

    .registration__title {
        font-size: 17px;
        font-weight: 600;
        color: #424242;
        margin: 0 0 2px 0;
    }

    .registration > .red-star {
        margin: 0 0 0 2px;
    }

    .registration__server-errors {
        width: 433px;
        background: #fff1f1;
        color: #ff0000;
        padding: 5px 0 8px 13px;
        border: 1px solid #ffdcdc;
        margin: 15px 0 20px 2px;
        line-height: 21px;
    }

.form-ch {
    display: flex;
    flex-direction: column;
}

    .registration__field {
        border-radius: 8px;
        border: 1px solid #c9c3b1;
        width: 280px;
        height: 29px;
        padding: 0 0 1px 9px;
        font-size: 13px;
        margin: 0 0 0 10px;
    }

    .registration__name {
        padding: 0 0 0 109px;
        position: relative;
        order: -3;
    }

    .registration__email {
        padding: 0 0 0 25px;
        position: relative;
        order: -2;
    }

    .registration__phone {
        padding: 0 0 0 87px;
        order: -1;
    }

    .registration__name,
    .registration__email,
    .registration__phone,
    .registration__password,
    .registration__password-check {
        margin: 0 0 37px 0;
        display: flex;
        align-items: center;
    }

    .registration__password {
        padding: 0 0 0 90px;
        position: relative;
    }

    .registration__password-check {
        position: relative;
    }

    .registration__submit {
        width: 40px;
        font-size: 13px;
        border: none;
        background: none;
        color: #00b31d;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
        margin: 0 0 0 155px;
    }

.red-star {
    font-size: 13px;
    color: #ff0000;
    font-weight: 600;
    margin: 0 0 0 -3px;
}

.border-error {
    border: 1px solid #ff0000;
}

.error {
    color: #ff0000;
    position: absolute;
    bottom: -22px;
    left: 154px;
}

/* OTHER NEEDS
=====================================*/

.side-bar {
    margin: 0 0 0 -946px;
}

.category-list {
    margin: 0 0 51px;
}

.h-registration,
.h-registration:link,
.h-registration:visited,
.h-registration:active {
    color: #ffe558;
}

/* MEDIA
=====================================*/

@media (max-width: 480px) {
    .content .container {
        max-width: 442px;
        min-width: 442px;
        padding: 0 5px;
    }

    .header {
        margin: 0 0 32px 0;
    }

    .header__navigation {
        margin: 17px 0 0 25px;
    }

    .burger {
        height: 43px;
    }

    .side-bar {
        display: none;
    }

    .content__main {
        float: none;
    }

    .registration {
        padding: 0;

    }

    .registration__title {
        font-size: 21px;
        margin: 0 0 8px 1px;
    }

    .registration__server-errors {
        width: auto;
        margin: 14px 0 25px -4px;
        padding: 5px 0 8px 12px;
        border: none;
    }

    .registration__name, .registration__email, .registration__phone, .registration__password, .registration__password-check {
        align-items: baseline;
        flex-direction: column;
        padding: 0;
        margin: 0 0 30px 3px;
    }

    .registration__email .registration__label {
        margin: 0 0 5px 5px;
    }

    .registration__email {
        margin: 0 0 31px 3px;
    }

    .registration__phone {
        margin: 0 0 14px 3px;
    }

    .registration__password {
        margin: 0 0 31px 3px;
    }

    .registration__password-check {
        margin: 0 0 34px 3px;
    }

    .registration > form {
        font-size: 13px;
    }

    .registration__field {
        margin: 0;
    }

    .registration__label-wrap {
        margin: 0 0 5px 0;
    }

    .registration__label {
        margin: 0 0 5px 6px;
    }

    .registration__submit {
        margin: 0 0 0 -4px;
    }

    .content__registration {
        margin: 0 0 81px 0;
    }

    .error {
        font-size: 12px;
        bottom: -22px;
        left: 6px;
    }

    .footer .container {
        max-width: 437px;
        min-width: 437px;
        padding: 0 6px 0 4px;
    }
}
