body {
    margin: 0;
    font-family: "Arial";
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    background-color: #f6f6f6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0 0 17px;
}

/* CONTAINER
=====================================*/
.container {
    width: 100%;
    max-width: 944px;
    padding: 0;
    margin: 0 auto;
}

/* HEADER
=====================================*/
.header {
    margin: 0 0 54px 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(75, 75, 75, 0), rgba(0, 0, 0, 0.73)), url(../img/sprites/sprite-head-foot.png);
    background-size: 8px;

}

.header__pics {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 0 10px 0 0;
    width: 209px;
    min-width: 209px;
    height: 201px;
    background: 63px 41px url(../img/logo.svg) #060606 no-repeat;
    border: 1px solid #818181;
    border-radius: 16px;
    position: relative;
    box-shadow: 5px 8px 21px #000000;
}

.logo__name {
    font-size: 24px;
    color: #e7eeef;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    left: 36px;
    letter-spacing: 2px;
}

.header__preview {
    width: 725px;
    height: 201px;
    background: url(../img/header-preview.jpg) center no-repeat;
    background-size: cover;
    border: 1px solid #818181;
    border-radius: 16px;
    box-shadow: 5px 8px 21px #000000;
    position: relative;

}

.header__title {
    width: 435px;
    height: 48px;
    font-size: 24px;
    line-height: 18px;
    color: #e7eeef;
    font-style: italic;
    padding: 13px 0 13px 30px;
    position: absolute;
    top: 12px;
    right: 1px;
    background: rgba(36, 14, 0, 0.65);
    border-radius: 15px 0 0 15px;
}

.header__contacts {
    width: 383px;
    height: 43px;
    font-size: 14px;
    position: absolute;
    bottom: 7px;
    left: 3px;
    background: rgba(36, 14, 0, 0.65);
    border-radius: 0 12px 12px 0;
    display: flex;
    align-items: center;
}

.contacts__email,
.contacts__email:active,
.contacts__email:hover {
    margin: 0 0 0 27px;
    text-decoration: none;
    color: #bfc0c0;
}

.contacts__phone,
.contacts__phone:active,
.contacts__phone:hover {
    margin: 0 0 0 84px;
    font-family: Arial Narrow;
    font-size: 18px;
    text-decoration: none;
    color: #bfc0c0;
}

.header__menu {
    margin: 9px 0 9px 0;
    position: relative;
}

.header__menu-inner {
    height: 100%;
    font-family: Tahoma;
    color: #bfbfbf;
    font-size: 12px;
    display: flex;
    align-items: center;
    box-shadow: 5px 8px 21px #000000;
    border: 1px solid #818181;
    border-radius: 16px;
    background-image: url(../img/sprites/sprite-menu.png);
    background-size: 5px;
}

.authorization {
    display: flex;
    align-items: center;
}

.header__authorization {
    margin: 0 0 0 22px;
}

.authorization__login {
    margin: 6px 21px 6px 0;
    display: flex;
}

.authorization__label {
    padding: 2px 0 0 0;
}

.authorization__password {
    margin: 7px 15px 5px 0;
    display: flex;
}

.authorization-field {
    margin: 0 0 0 7px;
    width: 116px;
    height: 22px;
    border-radius: 5px;
    border: none;
    background-color: #737b7d;
    padding: 0 8px 0 8px;
    font-family: Tahoma;
}

.authorization-field:focus {
    background-color: white;
    outline: none;
}

.authorization__sign-in {
    margin: 0 27px 0 0;
}

.header__link-btn,
.header__link-btn:link,
.header__link-btn:visited,
.header__link-btn:active {
    position: relative;
    color: #f6f6f6;
    font-weight: bold;
}

.header__link-btn:hover {
    color: #ffde00;
}

.cart {
    display: flex;
    position: absolute;
    font-family: Arial;
    color: #ffffff;

}

.header__cart {
    right: 30px;
}

.cart__text {
    padding: 3px 0 0 0;
}

.cart::before {
    background: url(../img/icons/icon-cart.png) no-repeat;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: -28px;
    bottom: -1px;
}

.cart__link,
.cart__link:link,
.cart__link:visited,
.cart__link:active {
    position: relative;
    color: #ffffff;
}

.cart__link:hover {
    color: #ffde00;
}

.cart__number {
    font-weight: 600;
}

.header__navigation-wrap {
    height: 48px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(15, 33, 41, 0.5), rgba(0, 0, 0, 0.75)), url(../img/sprites/sprite-nav.jpg);
    background-size: 60px;
    box-shadow: 5px 0.5px 10px #000000;
}

.navigation {
    position: relative;
}

.header__navigation {
    margin: 15px 30px 15px 23px;
}

.navigation__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 16px;
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited,
.navigation__link:active {
    position: relative;
    color: #ffffff;
}

.navigation__link:hover {
    color: #ffde00;
}

.catalog {
    display: none;
}

/* CONTENT
=====================================*/

.content {
    position: relative;
}

.content__main {
    padding: 0 0 0 220px;
    width: 100%;
}

.category {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;

}

.category__item {
    width: auto;
    margin: 0 33px 53px 0;
}

.category__item:nth-child(1) {
    margin-right: 32px;
}

.category__item:nth-child(2) {
    margin: 0 30px 52px 0;
}

.category__item:nth-child(3n) {
    margin-right: 0;
}

.category__item:nth-child(3) {
    margin-top: 1px;
}

.category__item:nth-child(7) {
    margin: -3px 34px 53px -1px;
}

.category__item:nth-child(8) {
    margin-top: -3px;
}

.content__link {
    display: flex;
    flex-direction: column;

}

.content__link,
.content__link:link,
.content__link:visited,
.content__link:active {
    position: relative;
    color: #005bc1;
}

.content__link:hover {
    color: #549ef1;
}

.category__image {
    margin: 0 0 9px 0;
    outline: 5px solid #797979;
    outline-offset: -5px;
}

.category__image:hover {
    outline: 5px solid #00b31d;
    outline-offset: -5px;
}

.content__description {
    margin: 16px 0 0 -2px;
}

.content__title {
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 14px 0;
}

.content__text {
    text-align: justify;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 95px 0;
}

.category-list {
    position: absolute;
}

.content__category-list {
    top: -3px;
}

.content__category-list-title {
    margin: 0 0 20px 0;
    font-size: 17px;
    font-weight: 600;
    color: #c24000;
}

.category-list__item {
    font-size: 13px;
    margin: 0 0 11px 2px;
}

.category-list__item:last-child {
    margin-bottom: 0;
}

.news {
    position: absolute;
    width: 166px;
    font-size: 11px;
    line-height: 16px;
}

.content__news {
    top: 327px;
}

.content__news-title {
    margin: 0 0 21px 0;
    font-size: 17px;
    font-weight: 600;
    color: #058b7a;
}

.news__item {
    margin: 0 0 24px 2px;
    position: relative;
}

.news__item:last-child {
    margin: 0 0 18px 0;
}

.news__item::after {
    content: "";
    height: 2px;
    width: 138px;
    background-color: #dddddd;
    position: absolute;
    bottom: -15px;
    left: 0px;
}

.news__item:last-child::after {
    content: none;
}

.news__title {
    margin: 0 0 5px 0;
}

.news__date {
    font-size: 10px;
}

.news__archive {
    position: relative;
    left: 2px;
    font-size: 13px;
}

/* FOOTER
=====================================*/

.footer {
    padding-top: 15px;
    height: 170px;
    background-image: linear-gradient(to top, rgba(75, 75, 75, 0), rgba(0, 0, 0, 0.73)), url(../img/sprites/sprite-head-foot.png);
    background-size: 8px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__company {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #a4a4a4;
}

.copyright__item {
    display: inline-block;
    margin-left: 2px;
    font-size: 11px;
}

.copyright__item:last-child {
    display: inline-block;
    font-family: Tahoma;
    margin-top: 1px;
    margin-left: 2px;
    font-size: 12px;
    line-height: auto;
}

.text-bold {
    font-weight: 600;
}

.footer__logo {
    position: absolute;
    border: none;
    background: url(../img/logo.svg) no-repeat;
    box-shadow: none;
    width: 45px;
    height: 29px;
    background-size: contain;
    top: 55px;
    left: 9px;
}

.footer__logo-name {
    color: #a4a4a4;
    font-size: 9px;
    line-height: 6.76px;
    letter-spacing: 0.7px;
    top: 38px;
    left: -8px;
}

.navigation-footer {
    display: flex;
    font-size: 11px;
}

.footer__navigation-footer {
    margin-top: 1px;

}

.navigation-footer__item {
    position: relative;
    margin-right: 20px;
}

.navigation-footer__item::after {
    content: "";
    height: 10px;
    width: 1px;
    background-color: #ffffff;
    position: absolute;
    right: -10px;
    top: 5px;
}

.navigation-footer__item:last-child::after {
    content: none;

}

.footer__link,
.footer__link:link,
.footer__link:visited,
.footer__link:active {
    position: relative;
    color: #ffffff;
}

.footer__info {
    position: relative;

}

.footer__by {
    position: relative;

    font-size: 11px;
    color: #ffffff;

}

.footer__statistic {
    position: absolute;
    top: 67px;
    right: 0px;
}

/* BURGER */
.burger {
    display: none;
}

.burger__item {
    display: block;
    height: 5px;
    width: 27px;
    background-color: #ffffff;
    border-radius: 9px;
    font-size: 15px;
    color: #ffffff;
    position: relative;
    top: 13px;
    left: -23px;
}

.burger__item::before,
.burger__item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 9px;
}

.burger__item::before {
    top: -10px;
}

.burger__item::after {
    bottom: -10px;
}

.burger__title {
    color: #ffffff;
    position: absolute;
    top: 7px;
    left: 22px;
    font-size: 15px;
}


/* MEDIA
=====================================*/


@media (max-width: 943px) {
    .category__item:nth-child(3n) {
        margin-right: 33px;
    }

    .category__item:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 811px) {
    .navigation-footer {
        display: none;
    }
}

@media (max-width: 750px) {

    .header__title,
    .header__contacts {
        width: auto;
    }

    .header__menu-inner {
        height: 36px;
    }

    .authorization__login {
        display: none;
    }

    .authorization__password {
        display: none;
    }
}

@media (max-width: 691px) {
    .header__title {
        font-size: 18px;
    }

    .header__contacts {
        justify-content: space-between;
    }

    .contacts__email {
        margin-left: 10px;
    }

    .contacts__phone {
        margin-left: 20px;
    }

    .category__item {
        margin-right: 33px;
    }

    .navigation__item:nth-child(2),
    .navigation__item:nth-child(4) {
        display: none;
    }
}

@media (max-width: 480px) {

    p {
        margin: 0 0 10px;
    }

    .container {
        max-width: 425px;
    }

    .header__pics {
        background: #060606;
        border: 1px solid #818181;
        border-radius: 16px;
        display: flex;
        width: 100%;
        height: 201px;
    }

    .logo {
        display: block;
        border: none;
        height: 199px;
        margin-right: 0;
        box-shadow: none;
        background: 50px 41px url(../img/logo.svg) #060606 no-repeat;
    }

    .logo__name {
        bottom: 43px;
        left: 24px;
    }

    .header__preview {
        background: none;
        border: none;
        width: 220px;
        box-shadow: none;
        position: relative;
    }

    .header__title {
        font-size: 24px;
        background: none;
        width: auto;
        padding-left: 0;
        position: absolute;
        top: 93px;
        left: -5px;
        line-height: 29px;
    }

    .header__contacts {
        width: auto;
        background: none;
        padding-left: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: baseline;
        bottom: 118px;
        left: -5px;
        line-height: 25px;
    }

    .contacts__email {
        margin-left: 0;
        text-decoration: underline;
        color: #ffffff;
    }

    .contacts__phone {
        margin-left: 0;
        padding-left: 0;
        color: #ffffff;
    }

    .header__menu {
        margin: 18px 0 20px 0;
    }

    .header__menu-inner {
        height: 36px;
    }

    .authorization__sign-in {
        margin-left: 2px;
        margin-right: 23px;
    }

    .authorization__login {
        display: none;
    }

    .authorization__password {
        display: none;
    }

    .header__cart {
        right: 17px;
    }

    .header__navigation-wrap {
        height: 60px;
        background-image: none;
        background-color: #7c8384;
        box-shadow: none;

    }

    .header__navi-on-click {
        height: 441px;
    }

    .header__navigation {
        margin: 15px 0 15px 23px;
    }

    .navigation__inner {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 52px;
        background-color: #7c8384;
        height: 300px;
        left: 21px;
    }

    .navigation__show {
        display: flex;
    }

    .navigation__item {
        margin: 0 0 12px 0;
        font-size: 15px;
    }

    .navigation__item:nth-child(2),
    .navigation__item:nth-child(4) {
        display: block;
    }

    .navigation__item:nth-child(2) {
        margin-top: 12px;
    }

    .navigation__item:nth-child(2) > .navigation__link,
    .navigation__item:nth-child(2) > .navigation__link:link,
    .navigation__item:nth-child(2) > .navigation__link:visited,
    .navigation__item:nth-child(2) > .navigation__link:active {
        margin-left: -18px;
        background-color: #ffffff;
        border-radius: 9px 9px 0 0;
        padding: 12px 18px;
        position: relative;
        color: #005bc1;
    }

    .navigation__item:nth-child(2) > .navigation__link:hover {
        color: #549ef1;
    }

    .catalog {
        margin-left: -18px;
        display: block;
        background-color: #ffffff;
        padding: 21px;
        border-radius: 0 9px 9px 9px;
    }

    .catalog__item {
        display: inline-block;
        font-size: 15px;
        font-style: italic;
        margin: 0 20px 18px 0px;
    }

    .catalog__item:nth-child(3),
    .catalog__item:nth-child(5),
    .catalog__item:nth-child(7),
    .catalog__item:nth-child(8) {
        margin-right: 0;
    }

    .catalog__item:nth-child(8) {
        margin: 0;
    }

    .catalog__link,
    .catalog__link:link,
    .catalog__link:visited,
    .catalog__link:active {
        display: inline-block;
        position: relative;
        color: #005bc1;
    }

    .catalog__link:hover {
        color: #549ef1;
    }

    .navigation__item {
        display: block;
    }

    .navigation__link:hover {
        color: #ffe558;
    }

    .header {
        margin-bottom: 40px;
    }

    .content__main {
        padding-left: 0px;
    }

    .category__item:nth-child(1),
    .category__item:nth-child(2),
    .category__item:nth-child(3),
    .category__item:nth-child(1),
    .category__item:nth-child(4),
    .category__item:nth-child(5),
    .category__item:nth-child(6),
    .category__item:nth-child(7),
    .category__item:nth-child(8) {
        margin: 0;
        margin: 0 14px 48px 0;
    }

    .category__item:nth-child(2n) {
        margin-right: 0;
    }


    .category__image {
        width: 205px;
        height: 145px;
    }

    .content__description {
        margin-top: 606px;
        margin-left: -1px;
    }

    .content__title {
        font-weight: 600;
        font-size: 21px;
        margin-bottom: 13px;
    }

    .content__text {
        text-align: justify;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 57px;
    }

    .category-list {
        display: none;
    }

    .news {
        position: absolute;
        width: auto;
        margin-right: 27.5px;
    }

    .content__news {
        top: 888px;
    }

    .content__news-title {
        margin-bottom: 23px;
        font-size: 21px;
    }

    .news__item {
        margin-left: 0px;
        margin-bottom: 32px;
        font-size: 15px;
        line-height: 17px;
    }

    .news__item:last-child {
        margin-bottom: 20px;
    }

    .news__item::after {
        width: 424px;
        bottom: -19px;
        left: 0px;
    }

    .news__title {
        margin-bottom: 8px;
    }

    .news__date {
        font-size: 13px;
    }

    .news__archive {
        left: -2px;
        font-size: 15px;
    }

    .footer {
        padding-top: 37px;
    }

    .footer__logo-name {
        top: 38px;
        left: -9px;
    }

    .navigation-footer {
        display: none;
    }

    .footer__info {
        position: relative;
    }

    .footer__by {
        position: relative;

        font-size: 11px;
        color: #ffffff;

    }

    .footer__statistic {
        position: absolute;
        top: 61px;

    }

    .burger {
        display: block;
    }
}

@media (max-width: 464px) {
    .content__description {
        margin-top: 616px;
    }
}

@media (max-width: 424px) {
    .header__navi-on-click {
        height: 461px;
    }
}

@media (max-width: 423px) {
    .header__title {
        font-size: 18px;
        width: auto;
    }

    .content__news {
        top: 1745px;
    }

    .news__item::after {
        width: 300px;
    }
}

@media (max-width: 386px) {
    .header__navi-on-click {
        height: 491px;
    }
}

@media (max-width: 375px) {
    .header__navi-on-click {
        height: 511px;
    }
}

@media (max-width: 355px) {
    .header__contacts {
        left: -20px;
    }

    .contacts__email {
        font-size: 12px;
    }

    .contacts__phone {
        font-size: 16px;
    }

    .header__title {
        left: -20px;
        font-size: 16px;
        width: auto;
    }

    .registration {
        display: none;
    }
}

@media (max-width: 336px) {
    .header__navi-on-click {
        height: 541px;
    }
}
